.inputValor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bpdp {
  color: #555555;
  text-align: center;
  margin: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}
