.listaPlayers{
  display:flex;
  flex-direction: column;
  padding: 13px;
}

.form-check {
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .listaPlayers{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2px;
  }
}