.inputValor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bpdp{
  color:black;
  font-size: x-large;
  text-align: center;
  margin: 10px;
  background-color: #cccccc !important;
}
