
.dutchCard {
  display:flex;
  justify-content: center;
  padding: .5px !important;
  margin: 0px !important;
}

.scores{
  flex-grow: 1;
  display:flex;
  justify-content: center;
  margin: 5px;
  width: 75%;
}

img{
  max-width: 70px !important;
  border-radius: 10px;
}

.imgwinner {
  max-width: 100px !important;
  border-radius: 10px;  
  margin: 10px;
}

.red {
  background-color: #ed7d64;
}

.blue {
  background-color: blue; 
}

.yellow {
  background-color: yellow;
}

.green{
  background-color: green;
} 

.accordion-button{
  padding: 5px;
}
