.dutchCard {
/* / display: flex; */
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2px;
}

.winner{
  background-color: #ffff00;
  padding:10px;
  border-radius: 10px;
}

span {
  display: block;
  text-align: center;
}

.scores {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 6px;
  width: 75%;
}

img {
  max-width: 40px;
  border-radius: 10px;
}

.accordion-button {
  padding: 0px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.accordion-item {
  background-color: transparent;
  border: none;
}

.imgCardContainer {
  display: flex;
  align-items: center;
}

.accordion-body {
  background-color: var(--bs-accordion-active-bg);
  padding: 0;
  font-size: 11pt;
}