
.DuchContainer {
  display:flex;
  flex-direction: column;
}

.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

span {
  margin-right: 20px;
}

form {
  margin:0px;
  padding: 0px;
  height: 90%;
}

.formEdge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.formRodape {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin:10px;
}

.formEdge h3 {
  margin: 0px;
  margin-left: 5px;
  padding: 5px;
  color: yellow;
}

.formEdge input {
  margin: 5px;
  width: 78px !important;
}
