.DuchContainer {
  display: flex;
  flex-direction: column;
  background: #fcf3e3;
}

.contentWeapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.inicio {
  display: flex;
  flex-direction: column;
  background: white;
  font-weight: 200;
}

.round {
  display: flex;
  flex-direction: row;
  padding: 3px 12px;
}

form {
  margin: 0px;
  padding: 0px;
}

.accordion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 50px;
  max-width: 600px;
  justify-content: center;
}

.formEdge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0px;
  margin: 0px;
}
.formLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px;
}

.formEdge h3 {
  color: black;
  font-weight: 200;
}

.formEdge input {
  margin: 10px;
  padding: 0px;
  width: 78px;
  border: whitesmoke 2px solid;
}

.formBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 120px;
  border-bottom: solid 1px grey;
  background-color: rgb(19, 3, 11);
}

.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input[type="submit"] {
  background: #fcd250;
  border-radius: 20px;
  border: 2px solid black;
  padding: 5px 10px;
}

@media screen and (max-width: 600px) {
  .contentWeapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
  }
  .formEdge {
    display: flex;
    flex-wrap: wrap;
  }
  .formEdge input {
    margin: 10px;
  }
  .inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .accordion {
    margin-top: 12px;
    gap: 10px;
  }
}
