.indexFooter {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 0px 5px;
    bottom: 0;
    width: 100%;
    background-color: white;

  }
