.dutchCard {
  display:flex;
  justify-content: center;
  padding: 5px !important;
}

.scores{
  flex-grow: 1;
  display:flex;
  justify-content: center;
  margin: 5px;
  width: 75%;
}

img{
  max-width: 70px !important;
  border-radius: 10px;
}

.bpdp{
  color:black;
  font-size: xx-large;
  text-align: center;
  margin: 5px;
  background-color: gray !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.red {
  background-color: #ed7d64;
}

.blue {
  background-color: blue; 
}

.yellow {
  background-color: yellow;
}

.green{
  background-color: green;
} 
